<div class="animated fadeIn">

<!-- partie 1 -->

  
  <div class="col-6 col-lg-3">
    <div class="card">
      <div class="card-body p-0 clearfix">
        <i class="fa fa-moon-o bg-info p-4 px-5 font-2xl mr-3 float-left"></i>
        <div class="h5 text-info mb-0 pt-3" >APPIUM</div>
        <div class="text-muted text-uppercase font-weight-bold font-xs" id="test1"></div>
      </div>
    </div>
  </div>
  
  <div class="col-6 col-lg-3">
    <div class="card">
      <div class="card-body p-0 clearfix">
        <i class="fa fa-bell bg-warning p-4 px-5 font-2xl mr-3 float-left"></i>
        <div class="h5 text-warning mb-0 pt-3">CALABASH</div>
        <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div>
      </div>
    </div>
  </div>

<!-- partie 2 -->

     <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                Statistiques des tests APPIUM et CALABASH
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="callout callout-info">
                          <small class="text-muted">APPIUM</small>
                          <br>
                          <strong class="h4" id="test2"></strong>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="callout callout-info">
                          <small class="text-muted">APPIUM</small>
                          <br>
                          <strong class="h4" id="test3"></strong>
                        </div>
                      </div>
                    </div>
                    <hr class="mt-0">
                    
                  </div>
                  <div class="col-sm-6">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="callout callout-warning">
                          <small class="text-muted">CALABASH</small>
                          <br>
                          <strong class="h4">78,623</strong>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="callout callout-warning">
                          <small class="text-muted">CALABASH</small>
                          <br>
                          <strong class="h4">49,123</strong>
                        </div>
                      </div>
                    </div>
                    <hr class="mt-0">
                    <div class="progress-group">
                    
                    </div>
                    
                  </div>
                </div>
              
              </div>
            </div>
          </div>
        </div>
      
<!-- partie 3 -->

        <div class="card-header" >

          <!-- <h1 class="list-group-item list-group-item list-group-item-dark" id="test1">
          </h1>
          <h2 class="list-group-item list-group-item list-group-item-dark" id="test2">
          </h2>
         <h2 class="list-group-item list-group-item list-group-item-dark" id="test3">
          </h2> -->
          
          <canvas id="myChart" width="-200" height="-200"></canvas>
    
        </div>
   
        <!-- <div class="animated fadeIn">
          <div class="row">
            <div class="card-header" >
              <canvas id="myChart" width="-20" height="-20"></canvas>
            </div>
            <div class="card-header" >
              <canvas id="myChart" width="-20" height="-20"></canvas>
            </div>
          </div>
        </div> -->
  
</div>





